/*      FOOTER      */
footer {
    position: relative;
    background-color: darkslategray;
    top: 88%;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: 15.8%;
    height: 100%;
    text-align: center;
    opacity: 0.99;
}

.boxFooter {
    width: 100%;
    vertical-align: flex;
    display: inline-flex;
    
}

.footer-intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    font-weight: bolder;
    margin-bottom: auto;
    padding-top: 2%;
    display: flex;
    margin-left: 40%;
}

.marca-registrada {
    font-weight: bolder;
    font-size: 1.3rem;
    display: block;
    text-decoration: none;
    color: black;
    padding-top: 10%;
    align-items: flex-end;
    margin-left: -20%;
}

.footer-nome {
    font-family: 'sacramento', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    align-self: center;
    display: inline;
    text-decoration: none;
    color: black;
    padding-left: -50%;
    padding-top: 10%;
    align-items: flex-end;
    
}
/*
    FALTA FAZER CONFIGURAR TODO O FOOTER
*/



/*  CORES:
darkslategray
snow
darkolivegreen
grey11 1C1C1C
black

*/

/*
main > p {
    seleciona o primeiro p dentro do main (pais e filhos)
}
img + p {
    seleciona o primeiro parágrago que vem diretamente após a imagem (irmãos)
}
img ~ p {
    seleciona todos os p que vem diretamente depois da imagem 
}
.sobre p:not(#missao) {
    seleciona todos os parágros que não são o id missão ( perfeito para alterar conteúdos sem ser generalista)
}
*/

/*      CALCULO NO CSS

.utensilios {
    width: calc(40% - 17px);
}

body {
    font-family: 'Montserrat', sans-serif;
    background: snow;
}*/